<footer>
  {{!-- <p>Created By Anonymous - Copyright {{getCurrentYear}}</p> --}}
  <footer style="position: fixed; bottom: 0px; width: 100%; height: 60px; background-color: rgba(19, 35, 47, 0.9);">
     <font color="#1ab188">Developed by Suphachok Noopan 5730211009 IT.TE.PSU.Phuket - Copyright {{getCurrentYear}}</font>
  </footer>
  {{!-- <br>
  <p>
    <center>
    <br>
    <font color="#1ab188">Developed by Suphachok Noopan 5730211009 IT.TE.PSU.Phuket - Copyright {{getCurrentYear}}</font>
    </center>
  </p> --}}
</footer>