<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="Hair salon templates for mens hair cut service provider.">
        <meta name="keywords" content="hair salon website templates free download, html5 template, free responsive website templates, website layout,html5 website templates, template for website design, beauty HTML5 templates, cosmetics website templates free download">
        <title>Fast Beauty|Easy my life</title>
        <link rel="icon" href="img/icon_hospital.png">
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i%7cMontserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <!-- Style -->
        <link href="css/style.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
        <div class="header">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <a href="home.html"><img src="images/1.png" alt=""></a>
                        </div>
                        <div class="col-lg-8 col-md-4 col-sm-12 col-xs-12">
                            <div class="navigation">
                                <div id="navigation">
                                    <ul>
                                       
                                        
                                        <li><a href="showallbeauty" title="Styleguide"><h4>จัดการร้านเสริมสวย</h4></a> </li>
                                        <li><a href="showall" title="Styleguide"><h4>จัดการข้อมูลเจ้าของร้าน</h4></a> </li>
                                        <li><a href="showallcus" title="Styleguide"><h4>จัดการข้อมูลลูกค้า</h4></a> </li>
                                        <li><a href="showallbook" title="Styleguide"><h4>จัดการข้อมูลการจอง</h4></a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="container">
              <div class="row">
           
                 
                              <div class="header">
                                  <h4><input type="checkbox" value="">จัดการข้อมูลเจ้าของร้าน</h4>
                              </div></div>
            <center>
                <a href="/showall">ข้อมูลทั้งหมด</a> | 
                <a href="/searchbyfname">ค้นหาข้อมูลด้วยชื่อ</a> | 
                <a href="/searchbymail">ค้นหาข้อมูลด้วยอีเมล์</a>
            </center>
    <div class="container"><br>
        <div class="bg-dark">
            <table class="table table-hover">
                <thead class="thead-dark">
                        <th scope="col">
                            <div class="row">
                                <div class="col-sm-2">
                                        <label for="inputPassword" class="col-sm-12 col-form-label"><center>อีเมล์ </center></label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control col-sm-12" id="emailsearch" name="emailsearch" placeholder="กรุณาใส่อีเมล์เพื่อค้นหา">
                                </div>
                                <div class="col-sm-2">
                                    <button type="submit" id="search" class="btn btn-primary form-control">ค้นหา</button>
                                </div>
                            </div>
                        </th>
                </thead>
            </table>
        </div>
        <br>
        <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                    <th scope="col"><center>ID</center></th>
                    <th scope="col">ชื่อ</th>
                    <th scope="col">นามสกุล</th>
                    <th scope="col">อีเมล์</th>
                    <th scope="col">รหัสผ่าน</th>
            
              </tr>
            </thead>
            <tbody id="panel">
                
            </tbody>
          </table>
    </div>
<br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>


<div class="container">
    <div class="row">
    </div></div>
    <div class="footer">
      <!-- footer-->
      <div class="container">
          <div class="footer-block">
              <!-- footer block -->
              <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                      <div class="footer-widget">
                          <h2 class="widget-title">Website Address</h2>
                          <ul class="listnone contact">
                              <li><i class="fa fa-map-marker"></i> Software Engineering, Prince of Songkhla University, Phuket campus                        
                        </li>
                              <li><i class="fa fa-phone"></i> +66 987 383 640</li>
                              <li><i class="fa fa-fax"></i> +66 987 383 640</li>
                              <li><i class="fa fa-envelope-o"></i> benzsirasit1203@hotmail.com</li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                      <div class="footer-widget footer-social">
                          <!-- social block -->
                          <h2 class="widget-title">Social Feed</h2>
                          <ul class="listnone">
                              <li>
                                  <a href="#"> <i class="fa fa-facebook"></i> Facebook </a>
                              </li>
                              <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                              <li><a href="#"><i class="fa fa-google-plus"></i> Google Plus</a></li>
                              <li><a href="#"><i class="fa fa-linkedin"></i> Linked In</a></li>
                              <li>
                                  <a href="#"> <i class="fa fa-youtube"></i>Youtube</a>
                              </li>
                          </ul>
                      </div>
                      <!-- /.social block -->
                  </div>
                  <div class="col-lg-4 col-md-2 col-sm-6 col-xs-6">
                      <div class="footer-widget widget-newsletter">
                          <!-- newsletter block -->
                          <h2 class="widget-title">Newsletters</h2>
                          <p>Enter your email address to receive new patient information and other useful information right to your inbox.</p>
                          <div class="input-group">
                              <input type="text" class="form-control" placeholder="Email Address">
                              <span class="input-group-btn">
                          <button class=" btn-xs" type="button">Subscribe</button>
                          </span>
                          </div>
                          <!-- /input-group -->
                      </div>
                      <!-- newsletter block -->
                  </div>
              </div>
              <div class="tiny-footer">
                  <!-- tiny footer block -->
                  <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="copyright-content">
                              <p>© Men Salon 2020 | all rights reserved</p>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- /.tiny footer block -->
          </div>
          <!-- /.footer block -->
      </div>
  </div>
        <!-- /.footer-->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="js/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
        <script src="js/menumaker.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/sticky-header.js"></script>
          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
          <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
          <script src="searchmail.js"></script>
        </body>
</html>